
/* @Import
 ========================= */
@import "../components/_variables";
@import "../helpers/_mixins";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px 5%;
  background-color: $bgc-343434;
  z-index: 10;
  box-shadow: 0px 1px 1px 0px rgba(53,53,53,0.5);
  transition: all 1.5s;

  &__logo {
    position: relative;
    display: block;
  }

  &__info {
    position: relative;
    display: block;
  }
}

.logo {
  position: relative;
  display: block;

  &__link {
    position: relative;
    display: block;
    width: $size-133;
    transition: all 1.5s;
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.info {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__language {
    position: relative;
    display: block;
  }

  &__phone {
    position: relative;
    display: block;
  }

  &__write-us {
    position: relative;
    display: block;
  }
}

.language {
  position: relative;
  display: block;
  margin-right: 40px;

  &__link {
    position: relative;
    display: block;
    font-size: $font-size-16;
    font-size: 0.8888888888888889rem;
    line-height: $line-height-18;
    line-height: 1rem;
    color: $color-stack;
    text-decoration: none !important;
    text-transform: uppercase;
    padding: 15px;
    border: 2px solid transparent;
    border-radius: 30px;
    background-color: transparent;
    transition: border-color 0.5s, background-color 0.8s, color 0.6s;

    &:hover {
      color: $color-6b0100;
      background-color: $bgc-ffffff;
      border-color: $bgc-ffffff;
    }
  }
}

.phone {
  position: relative;
  display: block;
  margin-right: 40px;

  &__link {
    font-family: $font-light;
    font-size: $font-size-24;
    font-size: 1.333333333333333rem;
    line-height: $line-height-26;
    line-height: 1.444444444444444rem;
    color: $color-stack;
    text-decoration: none !important;

    &--icon {
      display: none;
      padding: 6px;
      color: $color-stack;
      background-color: transparent;
      border: 2px solid $bgc-ffffff;
      border-radius: 30px;
      text-decoration: none !important;
      text-transform: uppercase;
      transition: color 0.5s, background-color 0.8s;

      &:hover {
        color: $color-6b0100;
        background-color: $bgc-ffffff;
      }
    }
  }
}

.write-us {
  position: relative;
  display: block;

  &__link {
    position: relative;
    display: block;
    font-family: $font-semibold;
    font-size: 0;
    line-height: 0;
    padding: 15px;
    border-radius: 30px;
    color: $color-stack;
    background-color: transparent;
    border: 2px solid $bgc-ffffff;
    text-decoration: none !important;
    text-transform: uppercase;
    transition: background-color 0.8s;

    & .far {
      font-size: $font-size-16;
      font-size: 0.8888888888888889rem;
      line-height: $line-height-18;
      line-height: 1rem;
      color: $color-stack;
      transition: color 0.6s;
    }

    &:hover {
      background-color: $bgc-ffffff;

      & .far {
        color: $color-6b0100;
      }
    }
  }
}

.fp-viewing-welcome .header {
  background-color: transparent;
  box-shadow: none;
}

.fp-viewing-welcome .header .logo__link {
  width: $size-218;
}

/* @Media
 ========================= */
@media only screen and (max-width : $size-992) {

  .fp-viewing-welcome .header {
    height: auto;
    max-height: none;
  }

  .header {
    height: 100%;
    max-height: $size-80;
  }

}

@media only screen and (max-width : $size-700) {

  .fp-viewing-welcome .header .logo__link {
    width: $size-133;
  }

}

@media only screen and (max-width : $size-600) {

  .language {
    margin-right: 20px;

    &__link {
      padding: 10px;
    }
  }

  .phone {
    margin-right: 20px;

    &__link {
      font-size: $font-size-18;
      font-size: 1rem;
      line-height: $line-height-20;
      line-height: 1.111rem;
    }
  }

  .write-us {

    &__link {
      padding: 10px;
    }
  }

}

@media only screen and (max-width : $size-500) {

  .header {
    padding: 14px 10px;
    max-height: $size-80;
  }

  .language {
    margin-right: 10px;

    &__link {
      padding: 6px;
    }
  }

  .phone {
    margin-right: 10px;

    &__link {

      &--number {
        display: none;
      }

      &--icon {
        display: block;
      }
    }
  }

  .write-us {

    &__link {
      padding: 6px;
    }
  }

}