
/* @Import
 ========================= */
@import "../components/_variables";
@import "../helpers/_mixins";

.services {
  position: relative;
  display: block;
  height: 100%;
  color: $color-stack;
  background-color: $bgc-6b0100;
  background-image: url('../img/bg-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

/* @Import
 ========================= */
@import "../helpers/_item";

/* @Media
 ========================= */
@media only screen and (max-width: $size-992) {

  .services {
    height: auto !important;
    padding: 30px 0;
  }

}
