
/* @Colors
 ========================= */
$color-stack: #ffffff;
$color-6b0100: #6b0100;
$color-313030: #313030;

/* @Backgrounds
 ========================= */
$bgc-ffffff: #ffffff;
$bgc-6b0100: #6b0100;
$bgc-preview: rgba(119, 14, 13, 0.8);
$bgc-343434: #343434;

/* @SVG colors
 ========================= */
$svg-c90001: #c90001;
$svg-000000: #000000;
$svg-ffffff: #ffffff;

/* @Windows size
 ========================= */
$size-1650: 1650px;
$size-1400: 1400px;
$size-1150: 1150px;
$size-1100: 1100px;
$size-992: 992px;
$size-900: 900px;
$size-700: 700px;
$size-680: 680px;
$size-640: 640px;
$size-600: 600px;
$size-550: 550px;
$size-500: 500px;
$size-450: 450px;
$size-400: 400px;
$size-350: 350px;
$size-300: 300px;
$size-218: 218px;
$size-150: 150px;
$size-133: 133px;
$size-100: 100px;
$size-80: 80px;
$size-68: 68px;
$size-calc-300: calc(100% - 300px);
$size-calc-150: calc(100% - 150px);
$size-calc-100: calc(100% - 100px);
$size-calc-68: calc(100% - 68px);

/* @Fonts-family
 ========================= */
$font-semibold: 'Proximanova-semibold', 'Arial', sans-serif;
$font-bold: 'Proximanova-bold', 'Arial', sans-serif;
$font-black: 'Proximanova-black', 'Arial', sans-serif;
$font-regular: 'Proximanova-regular', 'Arial', sans-serif;
$font-light: 'Proximanova-light', 'Arial', sans-serif;

/* @Fonts-size
 ========================= */
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-24: 24px;
$font-size-30: 30px;
$font-size-35: 35px;
$font-size-40: 40px;
$font-size-45: 45px;
$font-size-50: 50px;
$font-size-60: 60px;

/* @Lines-height
 ========================= */
$line-height-16: 16px;
$line-height-18: 18px;
$line-height-20: 20px;
$line-height-22: 22px;
$line-height-26: 26px;
$line-height-32: 32px;
$line-height-38: 38px;
$line-height-42: 42px;
$line-height-48: 48px;
$line-height-52: 52px;
$line-height-62: 62px;